<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What are Organizations?') }}
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
                Las organizaciones son usadas para crear, gestionar y publicar colecciones de conjuntos de
                datos. Los usuarios pueden tener diferentes perfiles en una organización, dependiente de su nivel de
                autorización para crear, editar y publicar
            {% endtrans %}
        </p>
    </div>
</div>