<section class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-filter"></i>
        {% set title = 'Etiquetas' %}
        {{ title }}
    </h2>
    <nav aria-label="{{ title }}">
        <ul class="list-unstyled nav nav-simple nav-facet">
            {% set active = 'active' %}
            {% for key,value in h.custom_tags().items() %}

                <li class="nav-item  {% if key in request.url %}{{ active }} {% endif %}">
                    <a href="?tags={{ key }}" title="{{ value }}" class="a-tags-dataset">
                        <img src="/images/{{ key }}.png" class="tags-icons-dataset">
                        <p class="p-tags-dataset">{{ value }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>
