{% ckan_extends %}
{% block organization_facets %}
    <div class="filters">
        <div>
            {{ h.snippet('snippets/facet_custom_tags.html') }}
            {% for facet in facet_titles %}
                {% if facet not in ['tags','license_id'] %}
                    {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}) }}
                {% endif %}
            {% endfor %}
        </div>
        <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
    </div>
{% endblock %}